.table th {
  font-weight: 600;
  color: #fff;
}

.table td {
  vertical-align: middle;
}

.text-end {
  text-align: end !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}